body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
      
}

form input{
    margin:5px;
}
fieldset{
    margin:1rem;
    border: 1px solid black;
    border-radius: 5px;
    padding:20px;
}
fieldset h3{
    margin: 6px;
}
select{
    border: 1px solid black;
    border-radius: 5px; 
    padding: 5px;
    font-size: 15px;
}

img{
    border-radius: 5px;

}

.aLeft{
    float: left !important;
}
.aRight{
    float: right !important;
}
.bar{
    width: 97.7%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 20px;
    border: none;
}

.link{
    text-decoration: none;
    color: black;
}

.cLink{
    text-decoration: none;
    
}
.fullHeight{
    height: 100%;
}
.fullWidth{
    width: 100%;
}
.textIblue{
    font-size: 20px;
    color: #f1f1f1;
    text-decoration: none;
    font-style: normal; 
}

.container{
    border: 2px solid black; 
    align-items: center;
    background-color: #eeeeee;
    border-radius: 10px;
}

.button{
    font-size:18px;
    background-color: #0b1f3f;
    color: #f1f1f1;
    border: 1px solid black;
    cursor: pointer;   
    border-radius: 5px;
}

.button:hover{
    background-color: #3498db;  
    border: 1px solid white;
}
.textInput{
    border: 1px solid black;
    border-radius: 5px; 
    padding: 5px;
    font-size: 15px;
    width: 95%;
}
.stextInput{
    border: 1px solid black;
    border-radius: 5px; 
    padding: 5px;
    font-size: 15px;
    width: 60%;
}
.xstextInput{
    border: 1px solid black;
    border-radius: 5px; 
    padding: 5px;
    font-size: 15px;
    width: 30%;
}

.navVar{
    background-color: #fff9e6;
}

.center{
    align-items: center;
    justify-content: center;
}

.title{
    font-size:40px;

}
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.must{
    color: red;
}